#mapid { 
    margin: auto;
    position: absolute;
    top: 10px;
    bottom: 10px;
    width:70%;
    margin-left: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    float: left;
}

#user {
    float: right;
    width: 28%;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 71%;
    background: rgba(255,255,255,1.0);
    z-index: -1;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

#user label {
    margin-top: 17px;
}

#inputs {

}

#outputs {
    width: 100%;
    
    position: absolute;
    bottom: 10px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background: rgba(0,0,0,0.3);
}


.small-slider.rzslider .rz-pointer {
    top: -7px;
    z-index: 3;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #0db9f0;
    border-radius: 16px;
}

.small-slider.rzslider .rz-pointer:after {
    display: none;
}

.small-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 16px;
  z-index: 2;
  top: -1px;
  background: rgba(43, 104, 168, 0.24)
}
